@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Glory:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.seccion-1{
  width: 100%;
  height: 100vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcIy-fYfyakzi4S6poW60QHuJ_FC5x-fbIJA&usqp=CAU");
  background-size: cover;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
 
}
.seccion-1::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.69);
  backdrop-filter: blur(4px);
  z-index: -1;
}
.contenedor-1{
  width: 80%;
  height: 120px;
  color: #bbb;
  padding-left: 20px;
  overflow: hidden;
  font-family: 'Berkshire Swash', cursive;
}
.contenedor__title{
  font-size: 50px;
  transform: translateY(-100%);
  animation: move 2s forwards ease-in-out;
  opacity: 0;
  
}
.contenedor__title__2{
  font-size: 40px;
 animation: move2 2s forwards ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
  
}

@keyframes move{
  to{
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes move2{
  to{
    transform: translateX(0%);
    opacity: 1;
    
  }
}
/*Seccion 2*/


.seccion-2{
  width: 100%;
  padding-bottom: 1px;
  background-color: #121119;
  position: relative;
  overflow: hidden;
}
#btn{
  display: none;
}

.header{
  width: 100%;
  height: 80px;
  background-color: #101019;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 
  
}
.fa-search{
  font-size: 25px;
  color: #aaa;
  
}
.header__title{
  color: #aaa;
  font-size: 25px;
  font-family: 'Berkshire Swash', cursive;
}
label{
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bars{
  width: 80%;
  height: 2px;
  background-color: #aaa;
  position: absolute;
  transition: .5s;
}
.bars::before,.bars::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #aaa;
  transition: .5s;
  position: absolute;
}
.bars::before{
  top: 0;
  left: 0;
  transform: translateY(-7px);
}
.bars::after{
  left: 0;
  bottom: 0;
  transform: translateY(7px);
}
.active{
  background-color: transparent;
  transition: .5s;
}
.active::before{
  transform: rotate(-45deg);
}
.active::after{
  transform: rotate(45deg);
}
.nav{
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0,0,0,0.89);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 80px;
  left: 0%;
  transition: .5s;
  z-index: 1000;
  display: none;
}
.nav__ul{
  width: 95%;
  height: 80%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
}
.nav__li{
  padding: 4px 10px;
  overflow: hidden;
  position: relative;
}
.nav__li::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: #605770;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: .5s;
}

.nav__li:hover:after{
  transform: scale(1);
}
.nav__a{
  color: #aaa;
  font-size: 20px;
  text-decoration: none;
  transform: translateY(50px);
  transition: .5s;
  display: block;
  animation: links 2s ease forwards;
  font-family: 'Abel', sans-serif;
font-family: 'Glory', sans-serif;
}
.nav__a:active{
  color: #605770;
}
.nav__a:hover{
  color: #605770;
}
@keyframes links{
  to{
    transform: translateY(-0%);
    
  }
}
#btn:checked ~ .nav{
  display: block;
  
}
/* Contenido */
.video1,.video2,.video3,.video4{
  width: 95%;
  height: 200px;
  margin: 10px auto;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-tLhveWyAbk25kXL_XfLooj1yHDS_eIOdAQ&usqp=CAU");
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 120;
}
.video1::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(71, 32, 94, 0.7);
  color: rgba(71, 32, 94, 0.7);
  backdrop-filter: blur(5px);
  z-index: -1;
  opacity: 0;
  transition: .5s;
}
.video2{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgcHp-Lpo_80EINu5W58bTL7dvhQp4DY8D-w&usqp=CAU")
}
.video3{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHheegSpKB-E7T3VIDGRm6v0u7zZzeAbUYXQ&usqp=CAU")
}
.video4{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5T1wz9WyG4ctIpjL_JIMI-LFU3e9-Z4e1SQ&usqp=CAU")
}
.video1:hover:after{
  opacity: 1;
}
.video1:hover .fa-play-circle{
  transform: translate(-40vw, -13vh)scale(2);
  
}
.fa-play-circle{
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 40px;
  color: #101019;
  z-index: 405;
  transition: .5s;
}
.video__descripcion{
  width: 100%;
  padding: 10px 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.58);
  color: #aaa;
  transform: translateY(100px);
  transition: .5s;
  z-index: 300;
 font-family: 'Abel', sans-serif;
font-family: 'Glory', sans-serif;
}
.video1:hover .video__descripcion{
  transform: translateY(0%);
  
}
.footer{
  width: 100%;
  height: 100px;
  background-color: #111117;
  color: #605770;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Berkshire Swash', cursive;
}