@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Glory:wght@500&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#btn{
  display: none;
}

.header{
  width: 100%;
  height: 80px;
  background-color: #19172F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 5000;
  
}
#btn-busqueda{
  font-size: 25px;
  color: #9D7Ab0;
  border: 1px solid #9D7Ab0;
  padding: 8px;
  border-radius: 5px;
}
.header__title{
  color: #9D7Ab0;
  font-size: 25px;
  font-family: 'Berkshire Swash', cursive;
}
label{
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bars{
  width: 80%;
  height: 2px;
  background-color: #9D7Ab0;
  position: absolute;
  transition: .5s;
}
.bars::before,.bars::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #9D7Ab0;
  transition: .5s;
  position: absolute;
}
.bars::before{
  top: 0;
  left: 0;
  transform: translateY(-7px);
}
.bars::after{
  left: 0;
  bottom: 0;
  transform: translateY(7px);
}
.active{
  background-color: transparent;
  transition: .5s;
}
.active::before{
  transform: rotate(-45deg);
  background-color: #9D7Ab0;
}
.active::after{
  transform: rotate(45deg);
  background-color: #9D7Ab0;
}
.nav{
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 0%;
  transition: .4s;
  z-index: 4000;
  display: none;
  
}
.nav__ul{
  width: 100%;
  height: 100%;
  background-color: #111019;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  animation: ulanimation .3s ease forwards;
  transition: .5s;
}
@keyframes ulanimation{
  to{
    transform: scale(1);
  }
}
.nav__li{
  padding: 4px 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transform: translateX(200%);
  opacity: 0;
  animation: lianimation 1s ease forwards;
  animation-delay: .5s;
}
@keyframes lianimation{
  to{
    transform: translateX(-0%);
    opacity: 1;
  }
}
.nav__li::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #9D7Ab0;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: .5s;
}

.nav__li:hover:after{
  transform: scale(1);
}
.fas{
  color: #9D7Ab0;
  font-size: 18px;
}
.nav__a{
  color: #aaa;
  font-size: 20px;
  text-decoration: none;
  transition: .5s;
  display: block;
  animation: links 2s ease forwards;
  font-family: 'Abel', sans-serif;
font-family: 'Glory', sans-serif;

}
.nav__a:active{
  color: #9D7Ab0;
}
.nav__a:hover{
  color: #9D7Ab0;
}

#btn:checked ~ .nav{
  display: block;
}
/*Busqueda*/
.contenedor__busqueda{
  width: 100%;
  background-color: #111019;
  transition: .5s;
  height: 100vh;
  
}
.contenedor__busqueda__barra{
  display: block;
  width: 90%;
  margin: auto;
  transform: translateY(25vh);
  border: none;
  outline: none;
  padding: 10px 10px;
  background-color: transparent;
  border-bottom: 1px solid #9D7Ab0;
  position: relative;
  color: #9D7Ab0;
  font-size: 15px;
  transform: translateY(-80px);
  animation: barra 1.5s forwards ease;
  opacity: 0;
  z-index: 1000;
}
@keyframes barra{
  to{
    opacity: 1;
    transform: translateY(100px);
  }
}
.contenedor__busqueda__barra::placeholder{
  color: #9D7Ab0;
}
.footer {
   width: 100%;
   height: 100px;
   background-color: #19172F;
   color: #9D7Ab0;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-weight: 500;
   font-family: 'Berkshire Swash', cursive;
  }